/* #Global
================================================== */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Heebo', sans-serif;
  line-height: 1.45;
  padding-top: 5.2vw;
}

@media (max-width: 1023.98px) {
  body {
    padding-top: 18.66vw;
  }
}

.bg-blue-dark {
  background-color: #30384A;
  color: white;
}

/* #Swiper Navigation
================================================== */
.swiper-navigation img {
  width: 2.6vw;
}

@media (max-width: 1023.98px) {
  .swiper-navigation img {
    width: 7.33vw;
  }
}

/* #Swiper Pagination
================================================== */
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 2.86vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 .39vw;
}

.swiper-pagination-bullet {
  width: 2.6vw;
  height: 2px;
  border-radius: 500px;
  background: white;
  opacity: .34;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: white;
}

@media (max-width: 1023.98px) {

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 4.66vw;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 1.66vw;
  }

  .swiper-pagination-bullet {
    width: 10.6vw;
    height: 2px;
  }
}

/* #Buttons
================================================== */
/* Link */
.link {
  display: inline-flex;
  align-items: center;
}

.link img {
  width: .3vw;
  margin-right: .625vw;
}

.link {
  padding-bottom: .15vw;
  position: relative;
}

.link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.4s ease;
}

.link:hover::before {
  transform: scaleX(1);
}

.link.link-white::before {
  background-color: white;
}

/* Btn */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 2.6vw;
  font-size: .94vw;
  padding: 0 2.6vw;
  backface-visibility: hidden;
  border: 1px solid transparent;
  transition: all .3s ease;
  font-weight: 700;
  min-width: 11.45vw;
}

.btn span {
  min-width: 11.45vw;
}

.btn.btn-small {
  padding: 0;
}

.btn.btn-small span {
  padding: 0 .78vw;
}

/* Primary */
.btn-primary {
  color: white;
  padding: 0;
  border-color: white;
}

.btn-primary:hover {
  color: black;
}

.btn-primary span {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 100%;
  padding: 0 2.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  backface-visibility: hidden;
  font-size: inherit;
}

.btn-primary span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: translateY(100%);
  transition: all .3s ease;
  z-index: -1;
  backface-visibility: hidden;
}

.btn-primary:hover span::before {
  transform: translateY(0);
}

/* Secondary */
.btn-secondary {
  color: white;
  padding: 0;
  border-color: black;
}

.btn-secondary:hover {
  color: black;
}

.btn-secondary span {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 100%;
  padding: 0 2.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  backface-visibility: hidden;
  font-size: inherit;
  background-color: black;
}

.btn-secondary span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: translateY(100%);
  transition: all .3s ease;
  z-index: -1;
  backface-visibility: hidden;
}

.btn-secondary:hover span::before {
  transform: translateY(0);
}

/* Tertiary */
.btn-tertiary {
  color: black;
  padding: 0;
  border-color: white;
}

.btn-tertiary:hover {
  color: white;
}

.btn-tertiary span {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 100%;
  padding: 0 2.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  backface-visibility: hidden;
  font-size: inherit;
  background-color: white;
}

.btn-tertiary span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform: translateY(100%);
  transition: all .3s ease;
  z-index: -1;
  backface-visibility: hidden;
}

.btn-tertiary:hover span::before {
  transform: translateY(0);
}

@media (max-width: 1023.98px) {

  /* Link */
  .link {
    padding-bottom: 1vw;
    position: relative;
  } 

  .link img {
    width: .3vw;
    margin-right: .625vw;
  }

  /* Btn */
  .btn {
    height: 10vw;
    font-size: 4vw;
    padding: 0 9vw;
  }

  .btn,
  .btn span {
    min-width: 40vw;
  }

  /* Primary */
  .btn-primary {
    padding: 0;
  }

  .btn-primary span {
    padding: 0 9vw;
  }

  /* Secondary */
  .btn-secondary {
    padding: 0;
  }

  .btn-secondary span {
    padding: 0 9vw;
  }

  /* Tertiary */
  .btn-tertiary {
    padding: 0;
  }

  .btn-tertiary span {
    padding: 0 9vw;
  }
}

/* #Input
================================================== */
.input-primary {
  border: none;
  border-bottom: 2px solid black;
  color: black;
  padding-bottom: .25vw;
  width: 100%;
}

.input-primary::placeholder {
  color: black;
}

@media (max-width: 1023.98px) {
  .input-primary {
    border-bottom: 1px solid #B1B1B1;
    padding-bottom: 1vw;
  }
}

/* #Select
================================================== */
.select-primary {
  border: none;
  border-bottom: 2px solid black;
  color: black;
  appearance: none;
  background-image: url('../img/icons/chevron-down.svg');
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: .78vw auto;
  padding-bottom: .25vw;
  width: 100%;
}

@media (max-width: 1023.98px) {
  .select-primary {
    border-bottom: 1px solid #B1B1B1;
    background-size: 2.93vw auto;
    padding-bottom: 1vw;
  }
}

/* #Header
================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 10000;
  height: 5.2vw;
}

.header .container {
  width: 92%;
  display: flex;
  align-items: center;
  height: 100%;
}

.header-logo img {
  width: 12.55vw;
}

.header-menu {
  height: 100%;
  margin-left: auto;
  margin-right: 4.16vw;
}

.header-links,
.header-links>ul,
.header-links>ul>li,
.header-links>ul>li>a {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-links>ul>li>a::before {
  height: 3px;
}

.header-links ul {
  display: flex;
}

.header-links ul li:not(:last-child) {
  margin-left: 2.34vw
}

.header-btn .btn {
  color: white !important;
  margin-right: 3.125vw;
}

.header-btn .btn span::before {
  display: none;
}

.header-btn .btn img {
  width: 1.4vw;
  margin-left: .416vw;
}

.header-search form {
  display: flex;
  align-items: center;
  width: 13vw;
  border-bottom: 1px solid black;
}

.header-search form a {
  margin-left: .625vw;
}

.header-search form img {
  width: 1vw;
}

.header-search form input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  line-height: 1.5;
  color: black;
}

.header-search form input::placeholder {
  color: #707070;
}

.header-dropdown-menu .accordion {
  display: flex;
  justify-content: space-between;
}

.header-dropdown-menu .collapsible {
  flex: 0 0 13.17vw;
}

.header-dropdown-menu .collapse-toggler {
  padding-bottom: .5vw;
  border-bottom: 1px solid #CCCCCC;
}

.header-dropdown-menu .collapse-toggler img {
  width: 100%;
  height: 11.77vw;
  object-fit: cover;
  object-position: center;
  margin-bottom: 1.25vw;
}

.header-dropdown-menu .collapse>div {
  padding-top: .8vw;
}

.header-dropdown-menu .collapse p:not(:last-child) {
  margin-bottom: .5vw;
}

@media (min-width: 1024px) {
  .header-dropdown-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    background-color: white;
    padding: 2.34vw 5.2vw 3.125vw 5.2vw;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
  }

  .header-dropdown-menu.show {
    opacity: 1;
    visibility: visible;
  }

  .header-dropdown-menu .collapse {
    height: auto !important;
  }
}

@media (max-width: 1023.98px) {
  .header {
    height: 18.66vw;
  }

  .header .container {
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .header-hamburger img {
    width: 7.46vw;
  }

  .header-logo img {
    width: 45.2vw;
  }

  .header-menu {
    position: absolute;
    top: 18.66vw;
    height: calc(100vh - 18.66vw);
    overflow-y: auto;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    left: 0;
    background-color: white;
    padding: 0 5.33vw;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
  }

  .header.show .header-menu {
    opacity: 1;
    visibility: visible;
  }

  .header-links,
  .header-links>ul,
  .header-links>ul>li,
  .header-links>ul>li>a {
    height: auto;
    display: block;
    align-items: center;
  }

  .header-links>ul>li>a {
    border-bottom: 3px solid transparent;
    transition: all .3s ease;
  }

  .header-links>ul>li>a:hover,
  .header-links>ul>li>a.active {
    border-bottom: 3px solid transparent;
  }

  .header-links>ul>li>a {
    border-bottom: 1px solid #CCCCCC;
    padding: 4vw 0;
  }

  .header-links>ul>li>a::before {
    height: 1px;
  }

  .header-links ul {
    display: block;
  }

  .header-links ul li:not(:last-child) {
    margin-left: 0;
  }

  .header-search img {
    width: 5vw;
  }

  .header-dropdown-menu .accordion {
    display: block;
  }

  .header-dropdown-menu .collapse-toggler {
    padding-bottom: .5vw;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 0;
  }

  .header-dropdown-menu .collapse>div {
    padding-top: .8vw;
    padding-bottom: 1.33vw;
  }

  .header-dropdown-menu .collapse p:not(:last-child) {
    margin-bottom: 3.33vw;
  }

  .header-dropdown-collapse {
    border-bottom: none !important;
  }
}

/* #Footer
================================================== */
.footer {
  background-color: black;
  color: white;
  padding: 4.4vw 0 4.95vw 0;
  position: relative;
}

.footer .container {
  width: 84.34%;
}

.footer-logo {
  margin-bottom: 3.5vw;
}

.footer-logo img {
  width: 17.86vw;
  margin: 0 auto;
}

.footer-links {
  margin-bottom: 2.34vw;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 1.8vw 0;
}

.footer-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-links ul li:not(:last-child) {
  margin-left: 4.58vw;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social li:not(:last-child) {
  margin-left: .78vw;
}

.social img {
  width: 2.34vw;
}

.back-to-top {
  position: absolute;
  top: 6.25vw;
  right: 1.5vw;
}

.back-to-top img {
  width: 3.125vw;
}

@media (max-width: 1023.98px) {
  .footer {
    padding: 16vw 0 28vw 0;
  }

  .footer .container {
    width: 100%;
  }

  .footer-logo {
    margin-bottom: 13.33vw;
  }

  .footer-logo img {
    width: 62.26vw;
  }

  .footer-links {
    margin-bottom: 20vw;
    border-top: none;
    border-bottom: none;
    padding: 0;
  }

  .footer-links ul {
    display: block;
    line-height: 1;
  }

  .footer-links ul li:not(:last-child) {
    margin-left: 0;
    margin-bottom: 6.5vw;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: center;
  }

  .footer-bottom p {
    margin-bottom: 2.66vw;
  }

  .social {
    order: -1;
    margin-bottom: 7.33vw;
  }

  .social li:not(:last-child) {
    margin-left: 3.73vw;
  }

  .social img {
    width: 10.93vw;
  }

  .back-to-top {
    display: none;
  }
}

/* #Banner
================================================== */
.banner {
  position: relative;
}

.banner .swiper-slide {
  position: relative;
}

.banner .img img,
.banner .img picture {
  width: 100%;
  max-height: calc(100vh - 5.25vw);
  object-fit: cover;
  object-position: center;
}

.banner .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.banner .text.text-right {
  top: 50%;
  left: auto;
  right: 12.5vw;
  transform: translateY(-50%);
  width: 23.5vw;
}

.banner h1 {
  line-height: 1;
  margin-bottom: .78vw;
}

.banner .text-right h1 {
  margin-bottom: 1vw;
}

.banner .prev {
  position: absolute;
  top: 50%;
  right: 2vw;
  z-index: 10;
  transform: translateY(-50%);
}

.banner .next {
  position: absolute;
  top: 50%;
  left: 2vw;
  z-index: 10;
  transform: translateY(-50%);
}

.banner .btn {
  margin-top: 2.6vw;
}

@media (max-width: 1023.98px) {

  .banner .img img,
  .banner .img picture {
    height: 138.6vw;
  }

  .banner .text {
    width: 74%;
  }

  .banner .text.text-right {
    top: 11.33vw;
    left: auto;
    right: 50%;
    transform: translateX(50%);
    width: 76%;
    text-align: center !important;
  }

  .banner .text-right h1 {
    margin-bottom: 3.33vw;
  }

  .banner h1 {
    margin-bottom: 2.66vw;
  }

  .banner .swiper-navigation {
    display: none;
  }

  .banner .btn {
    margin-top: 6.5vw;
  }
}

/* #Banner Alt
================================================== */
.banner.alt {
  display: flex;
}

.banner.alt .text,
.banner.alt .img {
  flex: 0 0 50%;
}

.banner.alt .text {
  position: static;
  transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
}

.banner.alt .text-wrap {
  width: 24.21vw;
}

.banner.alt .img img {
  width: 100%;
  height: 35.88vw;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1023.98px) {
  .banner.alt {
    display: flex;
    flex-direction: column-reverse;
  }

  .banner.alt .text,
  .banner.alt .img {
    flex: initial;
  }

  .banner.alt .text {
    position: static;
    transform: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 69.33vw;
  }

  .banner.alt .text-wrap {
    width: 90%;
  }

  .banner.alt .img img {
    height: 69.33vw;
  }
}

/* #Categories Display
================================================== */
.categories-display {
  padding: 1.5vw 0 5.2vw 0;
}

.categories-display .container {
  width: 89.5%;
}

.categories-display h2 {
  margin-bottom: 1.5vw;
  line-height: 1;
}

.categories-display ul {
  display: flex;
  flex-wrap: wrap;
  margin: -1vw;
}

.categories-display li {
  flex: 0 0 33.33333%;
  padding: 1vw;
}

.categories-display li img {
  width: 100%;
  height: 23.43vw;
  object-fit: cover;
  object-position: center;
}

.categories-display li>div {
  position: relative;
}

.categories-display li .text {
  position: absolute;
  bottom: 1.25vw;
  right: 1.25vw;
  color: white;
}

.categories-display h3 {
  line-height: 1;
  margin-bottom: .5vw;
}

.categories-display p {
  margin-bottom: 2.34vw;
}

@media (max-width: 1023.98px) {
  .categories-display {
    padding: 2.66vw 0 17.33vw 0;
  }

  .categories-display h2 {
    margin-bottom: 4.66vw;
    text-align: center;
  }

  .categories-display ul {
    display: block;
    margin: 0;
  }

  .categories-display li {
    padding: 0;
  }

  .categories-display li:not(:last-child) {
    margin-bottom: 2.66vw;
  }

  .categories-display li img {
    height: 66.66vw;
  }

  .categories-display li .text {
    bottom: 4vw;
    right: 4vw;
    width: 82%;
  }

  .categories-display h3 {
    margin-bottom: 1vw;
  }

  .categories-display p {
    margin-bottom: 6.66vw;
  }
}

/* #Banner 2
================================================== */
.banner-2 {
  position: relative;
}

.banner-2 .img img,
.banner-2 .img picture {
  width: 100%;
}

.banner-2 .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 13vw;
  width: 25.25vw;
}

.banner-2 h2 {
  margin-bottom: 1vw;
  line-height: 1.2;
}

.banner-2 p {
  margin-bottom: 2.8vw;
}

@media (max-width: 1023.98px) {
  .banner-2 .text {
    top: 12.66vw;
    transform: translateX(50%);
    right: 50%;
    text-align: center;
    width: 83.46%;
  }

  .banner-2 h2 {
    margin-bottom: 2vw;
  }

  .banner-2 p {
    margin-bottom: 6vw;
    line-height: 1.2;
  }
}

/* #Post Slider
================================================== */
.post-slider {
  padding: 5.2vw 0;
  overflow: hidden;
}

.landing-page .post-slider {
  padding: 7.8vw 0 6.77vw 0;
}

.post-slider .container {
  margin-right: 5.2vw;
}

.post-slider.alt .container,
.category-page .post-slider .container {
  margin-right: 2vw;
}

.post-slider h2 {
  margin-bottom: 1.3vw;
  line-height: 1;
}

.post-slider .swiper-slide {
  padding-left: 1.5vw;
}

.post-slider .swiper {
  padding-bottom: 4.16vw;
  overflow: visible;
}

.post-slider .swiper-horizontal>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 41.14vw;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  top: auto;
  margin-left: 5.2vw;
}

.post-slider .swiper-pagination-progressbar {
  background: #EDEDED;
}

.post-slider .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: black;
}

@media (min-width: 1024px) {
  .category-page .post-slider {
    margin-bottom: 2.6vw;
  }
}

@media (max-width: 1023.98px) {
  .post-slider {
    padding: 13.33vw 0 17.33vw 0;
  }

  .landing-page .post-slider {
    padding: 11.46vw 0 17.33vw 0;
  }

  .post-slider .container,
  .post-slider.alt .container,
  .category-page .post-slider .container {
    margin-right: 5.33vw;
  }

  .post-slider h2 {
    margin-bottom: 5.33vw;
  }

  .post-slider .swiper-slide {
    padding-left: 7.73vw;
  }

  .post-slider.alt .swiper-slide {
    padding-left: 5.33vw;
  }

  .post-slider .swiper {
    padding-bottom: 10vw;
  }

  .post-slider .swiper-horizontal>.swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
  .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 73%;
    margin-left: 5.33vw;
  }
}

/* #Post Card
================================================== */
.post-card .img {
  margin-bottom: .78vw;
}

.post-card .img img {
  width: 100%;
  height: 21.19vw;
  object-fit: cover;
  object-position: center;
}

.post-slider.alt .post-card .img img {
  height: 26.71vw;
}

.post-card h3 {
  margin-bottom: .5vw;
}

.post-card .btn {
  margin-top: 1.3vw;
}

@media (max-width: 1023.98px) {
  .post-card .img {
    margin-bottom: 4vw;
  }

  .post-card .img img {
    height: 79.2vw;
  }

  .post-slider.alt .post-card .img img {
    height: 67.2vw;
  }

  .post-card h3 {
    margin-bottom: 2vw;
  }
}

/* #Product Slider
================================================== */
.product-slider {
  padding: 5.2vw 0 6.77vw 0;
  overflow: hidden;
}

.product-slider .container {
  margin-right: 6.5vw;
}

.product-slider h2 {
  line-height: 1;
}

.product-slider .swiper-slide {
  padding-left: 3.125vw;
  height: auto;
}

.product-slider .swiper {
  padding-bottom: 3.125vw;
  overflow: visible;
  margin-right: -1vw;
  padding-top: 1vw;
}

.product-slider .swiper-horizontal>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 41.14vw;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  top: auto;
  margin-left: 5.2vw;
}

.product-slider .swiper-pagination-progressbar {
  background: #EDEDED;
}

.product-slider .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: black;
}

@media (max-width: 1023.98px) {
  .product-slider {
    padding: 13.33vw 0 17.33vw 0;
  }

  .product-slider .container {
    margin-right: 5.33vw;
  }

  .product-slider h2 {
    margin-bottom: 5.33vw;
  }

  .product-slider .swiper-slide {
    padding-left: 5.33vw;
  }

  .product-slider .swiper {
    padding-bottom: 12vw;
    padding-top: 0;
    margin-right: 0;
  }

  .product-slider .swiper-horizontal>.swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
  .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 73%;
    margin-left: 5.33vw;
  }
}

/* #Product Card
================================================== */
.product-card {
  background-color: white;
  transition: all .4s ease;
}

.product-card:hover {
  box-shadow: 0 3px 24px #F5F6FA;
}

.product-btn {
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease;
}

.product-card:hover .product-btn {
  opacity: 1;
  visibility: visible;
}

.product-card .img {
  padding: 0 1vw;
}

.product-card .img img {
  width: 100%;
  height: 24.68vw;
  object-fit: cover;
  object-position: center;
}

.product-card .text {
  padding: 1.5vw 1vw;
}

.product-card .text h3 {
  margin-bottom: .25vw;
}

.product-card .text p.medium {
  margin-top: .75vw;
}

.product-btn .btn,
.product-btn .btn span {
  width: 100%;
}

.product-link {
  margin-top: .5vw;
}

@media (max-width: 1023.98px) {
  .product-card:hover {
    box-shadow: none;
  }

  .product-btn {
    opacity: 1;
    visibility: visible;
  }

  .product-card .img {
    padding: 0;
  }

  .product-card .img img {
    height: 73.46vw;
  }

  .product-card .text {
    padding: 4vw 0 6vw 0;
  }

  .product-card .text h3 {
    margin-bottom: 1vw;
  }

  .product-card .text p.medium {
    margin-top: 2.66vw;
  }

  .product-btn .btn,
  .product-btn .btn span {
    width: 100%;
  }
}

/* #Customers
================================================== */

/* Top */
.customers .top {
  position: relative;
}

.customers .top .img img,
.customers .top .img picture {
  width: 100%;
}

.customers .top .text {
  position: absolute;
  right: 13vw;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  width: 22.13vw;
}

.customers .top h2 {
  line-height: 1;
}

.customers .top p {
  margin: 1vw 0 2.85vw 0;
}

/* Bottom */
.customers .bottom {
  padding-top: 1.2vw;
  padding-right: 5.2vw;
  padding-left: 10.93vw;
  display: flex;
  align-items: center;
}

.customers h3 {
  flex-shrink: 0;
  margin-left: 2.6vw;
}

@media (max-width: 1023.98px) {

  /* Top */
  .customers .top .text {
    right: 50%;
    top: 10vw;
    transform: translateX(50%);
    width: 90%;
    text-align: center;
  }

  .customers .top h2 {
    line-height: 1;
  }

  .customers .top h2 br {
    display: none;
  }

  .customers .top p {
    margin: 2.66vw 0 6vw 0;
  }

  /* Bottom */
  .customers .bottom {
    padding-top: 6.93vw;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 2.66vw;
    display: block;
  }

  .customers h3 {
    margin-left: 0;
    text-align: center;
    margin-bottom: 4vw;
  }
}

/* #Running Logos
================================================== */
.running-logos {
  min-width: 0;
  max-width: 100%;
  min-height: 0;
  max-height: 100%;
}

.running-logos .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  cursor: initial;
  user-select: none;
  align-items: center;
}

.running-logos .swiper-slide img {
  width: 9vw;
  height: 3.125vw;
  object-fit: contain;
  object-position: center;
  margin: 0 auto;
  filter: grayscale(1);
  opacity: .4;
}

@media (max-width: 1023.98px) {
  .running-logos .swiper-slide img {
    width: 26.66vw;
    height: 8vw;
  }
}

/* #B2B Logos
================================================== */
.b2b-logos {
  padding-top: 1vw;
}

@media (max-width: 1023.98px) {
  .b2b-logos {
    padding-top: 8.66vw;
  }
}

/* #Media 2
================================================== */
.media-2 {
  padding: 5.2vw 0;
}

.media-2 .container {
  width: 78%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.b2b-page .media-2 .container {
  width: 73%;
}

/* Img */
.media-2 .img {
  flex: 0 0 35.93vw;
  min-width: 0;
  max-width: 100%;
  min-height: 0;
  max-height: 100%;
  position: relative;
}

.media-2 .img::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #F5F6FA;
  width: 100%;
  height: 30.67vw;
}

.media-2 .swiper-slide img {
  width: 28.85vw;
  height: 40.36vw;
  margin: 0 auto;
  cursor: grab;
  object-fit: cover;
  object-position: bottom center;
}

.b2b-page .media-2 .swiper-slide img {
  height: 42.76vw;
}

.media-2 .swiper-navigation {
  width: 31.45vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Text */
.media-2 .text {
  flex: 0 0 33.95vw;
}

.b2b-page .media-2 .text {
  flex: 0 0 28.28vw;
}

.media-2 h2 {
  margin-bottom: 1.3vw;
  line-height: 1.2;
}

.media-2 h2 img {
  width: 19.32vw;
}

.media-2 .text-collapse {
  margin-bottom: 2.6vw;
}

.media-2 .text-collapse p:not(:last-child) {
  margin-bottom: .5vw;
}

.media-2 .icons {
  margin-bottom: 3.5vw;
}

.media-2 .icons ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -2.8vw;
}

.media-2 .icons ul li {
  display: flex;
  align-items: center;
  line-height: 1;
  padding-right: 1.2vw;
  margin-bottom: 2.8vw;
  flex-grow: 1;
}

.media-2 .icons ul li:nth-child(1),
.media-2 .icons ul li:nth-child(4) {
  padding-right: 0;
}

.media-2 .icons ul li:nth-child(2),
.media-2 .icons ul li:nth-child(5) {
  border-left: 1px solid #C4C4C4;
  border-right: 1px solid #C4C4C4;
  flex: 0 0 13.22vw;
  flex-shrink: 0;
}

.media-2 .icons ul li img {
  width: 2.4vw;
  height: 2.4vw;
  object-fit: contain;
  object-position: center;
  margin-left: .78vw;
  flex-shrink: 0;
}

.media-2 .icons-2 {
  margin: 1.5vw 0 2.34vw 0;
  width: 24.5vw;
}

.media-2 .icons-2 li {
  display: flex;
  align-items: center;
}

.media-2 .icons-2 li>div:first-child {
  flex-shrink: 0;
}

.media-2 .icons-2 li:not(:last-child) {
  margin-bottom: 1.5vw;
}

.media-2 .icons-2 img {
  width: 2.4vw;
  height: 2.4vw;
  object-fit: contain;
  object-position: center;
  margin-left: .78vw;
  flex-shrink: 0;
}

@media (max-width: 1023.98px) {
  .media-2 {
    padding: 13.33vw 0 10.66vw 0;
    overflow: hidden;
  }

  .media-2 .container,
  .b2b-page .media-2 .container {
    width: 92%;
    display: block;
  }

  /* Img */
  .media-2 .img {
    flex: 0;
    margin-bottom: 13.33vw;
  }

  .media-2 .img::after {
    top: 6.5vw;
    left: 9vw;
    transform: none;
    width: 85.66vw;
    height: 89.2vw;
  }

  .media-2 .swiper-slide img {
    width: 89.33vw;
    height: 89.33vw;
  }

  .b2b-page .media-2 .swiper-slide img {
    height: 89.33vw;
  }

  .media-2 .swiper-navigation {
    width: 16.93vw;
    transform: translateX(-50%) translateY(50%);
    top: auto;
    bottom: 0;
    height: 7.33vw;
  }

  /* Text */
  .media-2 h2 {
    margin-bottom: 2vw;
  }

  .media-2 h2 img {
    width: 37.86vw;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2.66vw;
  }

  .media-2 .text-collapse {
    margin-bottom: 8vw;
  }

  .media-2 .text-collapse p:not(:last-child) {
    margin-bottom: 2vw;
  }

  .media-2 .text-collapse .text-content {
    overflow: hidden;
    max-height: 23vw;
    transition: all .4s ease;
  }

  .media-2 .text-collapse.show .text-content {
    max-height: 50vw;
  }

  .media-2 .text-collapse-toggler {
    margin-top: 4vw;
  }

  .media-2 .icons {
    margin-bottom: 0;
  }

  .media-2 .icons ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -8vw;
  }

  .media-2 .icons ul li {
    display: block;
    line-height: 1;
    padding-right: 0;
    margin-bottom: 8vw;
    flex: 0 0 28%;
    text-align: center;
  }

  .media-2 .icons ul li:nth-child(1),
  .media-2 .icons ul li:nth-child(4) {
    padding-right: 0;
  }

  .media-2 .icons ul li:nth-child(2),
  .media-2 .icons ul li:nth-child(5) {
    border-left: none;
    border-right: none;
    flex-grow: 1;
  }

  .media-2 .icons ul li img {
    width: 8.66vw;
    height: 8.66vw;
    object-fit: contain;
    object-position: center;
    margin-left: 0;
    margin: 0 auto;
    margin-bottom: 3.33vw;
  }

  .media-2 .text>p br {
    display: none;
  }

  .media-2 .icons-2 {
    margin: 4.66vw 0 7.33vw 0;
    width: 100%;
  }

  .media-2 .icons-2 li:not(:last-child) {
    margin-bottom: 5.33vw;
  }

  .media-2 .icons-2 img {
    width: 8.66vw;
    height: 8.66vw;
    margin-left: 4.66vw;
  }
}

/* #Sticky Menu
================================================== */
.sticky-menu .btn span {
  width: 100%;
}

.sticky-menu .btn {
  color: white !important;
}

.sticky-menu .btn span::before {
  display: none;
}

.sticky-menu .btn img {
  width: 1.45vw;
  margin-left: .5vw;
}

.sticky-menu .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sticky-menu .whatsapp a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sticky-menu .whatsapp img {
  width: 2vw;
}

@media (min-width: 1024px) {
  .sticky-menu {
    position: fixed;
    bottom: 2vw;
    left: 2vw;
    width: 17.17vw;
    background-color: white;
    box-shadow: 0 6px 15px rgba(0, 0, 0, .09);
    z-index: 1000;
    padding: .78vw 1vw;
  }

  .sticky-menu .btn span {
    padding: 0 1.5vw
  }

  .sticky-menu > p {
    text-align: center;
    margin-bottom: .67vw;
  }
}

@media (max-width: 1023.98px) {
  .sticky-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16vw;
    display: flex;
    align-items: center;
    background-color: white;
    padding-right: 6.26vw;
    padding-left: 5.33vw;
    z-index: 1000;
    box-shadow: 0 -6px 6px rgba(0, 0, 0, .09);
  }

  .sticky-menu .accessebility {
    flex-shrink: 0;
  }

  .sticky-menu .accessebility a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 8.93vw;
  }

  .sticky-menu .accessebility a img {
    height: 8vw;
  }

  .sticky-menu .btn {
    flex-grow: 1;
    height: 73%;
  }

  .sticky-menu .btn img {
    width: 5.73vw;
    margin-left: 2.66vw;
  }

  .sticky-menu .row {
    height: 100%;
    width: 100%;
  }

  .sticky-menu .whatsapp a {
    margin-left: 10vw;
  }
  
  .sticky-menu .whatsapp img {
    width: 7.46vw;
  }
}

/* #Sticky Menu 2
================================================== */
.sticky-menu-2 {
  position: fixed;
  bottom: 1.3vw;
  left: 1.5vw;
  z-index: 1000;
}

.sticky-menu-2 .btn,
.sticky-menu-2 .btn span {
  width: 8vw;
  height: 6vw;
  display: flex;
  flex-direction: column;
  color: white!important;
  border-radius: 4px;
  font-size: 1.04vw;
}

.sticky-menu-2 .btn-secondary span::before {
  display: none;
}

.sticky-menu-2 .btn img {
  width: 2.2vw;
  margin-bottom: .5vw;
}

@media (max-width: 1023.98px) {
  .sticky-menu-2 {
    bottom: 13.33vw;
    left: 0;
  }
  
  .sticky-menu-2 .btn,
  .sticky-menu-2 .btn span {
    width: 24.66vw;
    height: 18.66vw;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0;
    min-width: 0;
    font-size: 3.46vw;
    font-weight: 500;
  }
  
  .sticky-menu-2 .btn-secondary span::before {
    display: none;
  }
  
  .sticky-menu-2 .btn img {
    width: 6.8vw;
    margin-bottom: 1.33vw;
  }
}

/* #Media 1
================================================== */
.media-1 {
  padding: 6.77vw 0 10.15vw 0;
}

.media-1 .container {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.media-1 .text {
  flex: 0 0 20vw;
}

.media-1 p {
  margin-top: .5vw;
  margin-bottom: 2.86vw;
}

.media-1 .img {
  position: relative;
  flex-shrink: 0;
}

.media-1 .img::after {
  content: '';
  position: absolute;
  top: 2.6vw;
  left: 8.6vw;
  width: 35.2vw;
  height: 37.3vw;
  background-color: #F5F6FA;
  z-index: -1;
}

.media-1 .img img {
  width: 37.13vw;
  height: 36.45vw;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1023.98px) {
  .media-1 {
    padding: 20.66vw 0 17.33vw 0;
    overflow: hidden;
  }

  .media-1 .container {
    width: 90%;
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: stretch;
  }

  .media-1 .text {
    flex: 0;
    margin-top: 6vw;
  }

  .media-1 p {
    margin-top: 2vw;
    margin-bottom: 6vw;
  }

  .media-1 .img {
    position: relative;
  }

  .media-1 .img::after {
    top: -6.65vw;
    left: 8vw;
    width: 92.66vw;
    height: 88.4vw;
  }

  .media-1 .img img {
    width: 100%;
    height: 90vw;
  }
}

/* #Banner 3
================================================== */
.banner-3 {
  position: relative;
  color: white;
}

.banner-3 .img img,
.banner-3 .img picture {
  width: 100%;
}

.banner-3 .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 13vw;
  width: 26vw;
}

.category-page .banner-3 .text {
  width: 22.8vw;
}

.banner-3 h2 {
  margin-bottom: .78vw;
  line-height: 1.2;
}

.banner-3 p {
  margin-bottom: 2.8vw;
}

.banner-3 ul {
  list-style: initial;
  padding-right: 19px;
  margin: .5vw 0 1.45vw 0;
}

.category-page .banner-3 p {
  margin-bottom: 0;
}

@media (max-width: 1023.98px) {
  .banner-3 {
    color: black;
  }

  .banner-3 .text,
  .category-page .banner-3 .text {
    position: static;
    transform: none;
    width: 90%;
    margin: 0 auto;
    padding: 5.86vw 0;
  }

  .banner-3 h2 {
    margin-bottom: 2vw;
  }

  .banner-3 p {
    margin-bottom: 6vw;
    line-height: 1.5;
  }

  .banner-3 p br {
    display: none;
  }

  .banner-3 ul {
    margin: 1.33vw 0 6.5vw 0;
  }
}

/* #Contact Form
================================================== */
.contact-form {
  padding: 7.55vw 0 7.9vw 0;
}

.contact-form .container {
  width: 38.8%;
}

.contact-form .heading {
  text-align: center;
  margin-bottom: 2.34vw;
}

.contact-form .heading p {
  width: 21.35vw;
  margin: 0 auto;
}

.contact-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -1.25vw;
}

.contact-form form>* {
  flex: 0 0 47%;
  margin-bottom: 1.25vw;
}

.contact-form form>*:last-child {
  flex: 0 0 100%;
}

.contact-form-btn {
  text-align: center;
  margin-top: 2.34vw;
}

@media (max-width: 1023.98px) {
  .contact-form {
    padding: 22vw 0;
  }

  .contact-form .container {
    width: 90%;
  }

  .contact-form .heading {
    text-align: right;
    margin-bottom: 4vw;
  }

  .contact-form .heading p {
    width: 90%;
    margin: 0;
  }

  .contact-form form {
    margin-bottom: -5.33vw;
  }

  .contact-form form>* {
    margin-bottom: 5.33vw;
    flex: 0 0 100%;
  }

  .contact-form form>*:nth-child(5),
  .contact-form form>*:nth-child(6) {
    flex: 0 0 47%;
  }

  .contact-form-btn {
    text-align: right;
    margin-top: 12vw;
  }
}

/* #B2B Customers
================================================== */
.b2b-customers {
  padding: 5.2vw 0 2.6vw 0;
}

.b2b-customers .container {
  width: 75%;
}

.b2b-customers h2 {
  margin-bottom: 1.3vw;
}

.b2b-customers ul {
  display: flex;
  flex-wrap: wrap;
  margin: -1vw;
}

.b2b-customers ul li {
  flex: 0 0 33.3333%;
  padding: 1vw;
}

.b2b-customers .img img {
  width: 100%;
  height: 23.59vw;
  object-fit: cover;
  object-position: center;
}

.b2b-customers .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease;
}

.b2b-customers a:hover .text {
  opacity: 1;
  visibility: visible;
}

.b2b-customers .text-wrap {
  width: 35%;
}

.b2b-customers a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.b2b-customers .text .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vw 0 1.5vw 0;
}

.b2b-customers .text .icon img {
  width: 2.6vw;
}

@media (max-width: 1023.98px) {
  .b2b-customers {
    padding: 6.5vw 0 4.66vw 0;
  }
  
  .b2b-customers .container {
    width: 90%;
  }
  
  .b2b-customers h2 {
    margin-bottom: 4vw;
  }
  
  .b2b-customers ul {
    display: block;
    margin: 0;
  }
  
  .b2b-customers ul li {
    padding: 0;
  }

  .b2b-customers ul li:not(:last-child) {
    margin-bottom: 8vw;
  }
  
  .b2b-customers .img img {
    height: 86.66vw;
  }
  
  .b2b-customers .text {
    position: static;
    transform: none;
    color: black;
    text-align: right;
    background-color: transparent;
    width: 100%;
    height: auto;
    display: block;
    opacity: 1;
    visibility: visible;
    padding-top: 4vw;
  }
  
  .b2b-customers .text-wrap {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .b2b-customers .text .icon {
    display: none;
  }
}

/* #Post Slider
================================================== */
.reviews-slider {
  padding: 5.2vw 0 0 0;
  overflow: hidden;
}

.reviews-slider .container {
  margin-right: 2vw;
}

.reviews-slider h2 {
  margin-bottom: 1.3vw;
  line-height: 1;
}

.reviews-slider .swiper-slide {
  padding-left: 2vw;
}

.reviews-slider .swiper {
  padding-bottom: 4.16vw;
  overflow: visible;
}

.reviews-slider .swiper-horizontal>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 41.14vw;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  top: auto;
  margin-left: 5.2vw;
}

.reviews-slider .swiper-pagination-progressbar {
  background: #EDEDED;
}

.reviews-slider .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: black;
}

@media (max-width: 1023.98px) {
  .reviews-slider {
    padding: 13.33vw 0 0 0;
  }

  .reviews-slider .container {
    margin-right: 5.33vw;
  }

  .reviews-slider h2 {
    margin-bottom: 5.33vw;
  }

  .reviews-slider .swiper-slide {
    padding-left: 5.33vw;
  }

  .reviews-slider .swiper {
    padding-bottom: 10vw;
  }

  .reviews-slider .swiper-horizontal>.swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
  .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 73%;
    margin-left: 5.33vw;
  }
}

/* #Review Card
================================================== */
.review-card {
  background-color: #F5F6FA;
  padding: 2.6vw;
}

.review-card .quottes {
  margin-bottom: 1.5vw;
}

.review-card .quottes img {
  width: 3.5vw;
}

.review-card .author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.1;
  margin-top: 4.16vw;
}

.review-card .author img {
  height: 2vw;
}

@media (max-width: 1023.98px) {
  .review-card {
    padding: 6.66vw 5.33vw;
  }
  
  .review-card .quottes {
    margin-bottom: 5.33vw;
  }
  
  .review-card .quottes img {
    width: 11.7vw;
  }
  
  .review-card .author {
    display: block;
    margin-top: 8vw;
  }
  
  .review-card .author img {
    height: 6.93vw;
    margin-top: 2.66vw;
  }
}

/* #Story 
================================================== */
.story {
  position: relative;
}

.story .img img {
  width: 100%;
}

.story .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12.5vw;
  width: 23.85vw;
}

.story .text h2 {
  margin-bottom: 1.3vw;
}

.story .text h2 img {
  width: 13.5vw;
}

.story .text p {
  line-height: 1.55;
}

@media (max-width: 1023.98px) {
  .story .text {
    position: static;
    transform: none;
    margin-right: 5.33vw;
    width: 83.73%;
    padding-top: 2vw;
    padding-bottom: 18.66vw;
  }
  
  .story .text h2 {
    margin-bottom: 2.66vw;
  }
  
  .story .text h2 img {
    display: inline-block;
    width: 36vw;
  }
  
  .story .text p {
    line-height: 1.15;
  }
}

/* #Video Section
================================================== */
.video-section {
  position: relative;
}

.video-section .video video,
.video-section .video source {
  width: 100%;
}

.video-section a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-section a img {
  width: 4vw;
}

@media (max-width: 1023.98px) {
  .video-section a img {
    width: 16vw;
  }
}

/* #Media Boxes
================================================== */
.media-boxes {
  padding: 6.77vw 0 3.125vw 0;
}

.media-boxes .container {
  width: 90%;
}

.media-box {
  display: flex;
}

.media-box .img,
.media-box .text {
  flex: 0 0 50%;
}

.media-box:nth-child(even) {
  flex-direction: row-reverse;
}

.media-box .img img {
  width: 100%;
  height: 28.94vw;
  object-fit: cover;
  object-position: center;
}

.media-box .text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.media-box .text-wrap {
  width: 28.95vw;
}

.media-box p {
  line-height: 1.66;
}

@media (max-width: 1023.98px) {
  .media-boxes {
    padding: 0;
    margin-bottom: 4vw;
  }
  
  .media-boxes .container {
    width: 100%;
  }
  
  .media-box {
    display: block;
  }
  
  .media-box .img img {
    height: 76.4vw;
  }
  
  .media-box .text {
    display: block;
    text-align: right;
    padding: 12vw 0;
  }
  
  .media-box .text-wrap {
    width: 86%;
    margin: 0 auto;
  }
  
  .media-box p {
    line-height: 1.15;
  }
}

/* #Error
================================================== */
.error {
  position: relative;
}

.error .img img,
.error .img picture {
  width: 100%;
}

.error .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.error h1 {
  line-height: .95;
}

.error p {
  margin-bottom: 1.5vw;
  line-height: 1.2;
}

@media (max-width: 1023.98px) {
  .error h1 {
    line-height: .95;
  }
  
  .error p {
    margin-bottom: 4vw;
  }
}

/* #Text Page
================================================== */
.text-page-content {
  padding: 2.6vw 0 6.77vw 0;
}

.text-page-content .container {
  width: 52.3%;
}

.text-page-content ol {
  padding-right: 19px;
}

.text-page-content h2 {
  margin-top: 1.5vw;
  margin-bottom: .5vw;
}

.text-page-content p {
  margin-bottom: .78vw;
}

.text-page-content ol li:not(:last-child) {
  margin-bottom: .5vw;
}

@media (max-width: 1023.98px) {
  .text-page-content {
    padding: 2.66vw 0 17.33vw 0;
  }
  
  .text-page-content .container {
    width: 90%;
  }
  
  .text-page-content h2 {
    margin-top: 9.33vw;
    margin-bottom: 2.4vw;
  }
  
  .text-page-content p {
    margin-bottom: 2.4vw;
  }
  
  .text-page-content ol li:not(:last-child) {
    margin-bottom: 2.4vw;
  }
}

/* #Customer Service Icons
================================================== */
.customer-service-icons {
  padding: 5.2vw 0;
}

.customer-service-icons ul,
.customer-service-icons ul li,
.customer-service-icons ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customer-service-icons ul li {
  line-height: 1.22;
}

.customer-service-icons ul li:not(:last-child) {
  margin-left: 3.65vw;
}

.customer-service-icons img {
  width: 2.34vw;
  margin-left: .78vw;
}

@media (max-width: 1023.98px) {
  .customer-service-icons {
    padding: 12vw 0;
  }

  .customer-service-icons ul {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .customer-service-icons ul li {
    flex: 0 0 50%
  }
  
  .customer-service-icons ul li a {
    flex-direction: column;
    text-align: center;
  }
  
  .customer-service-icons ul li {
    line-height: 1.22;
  }
  
  .customer-service-icons ul li:not(:last-child) {
    margin-left: 0;
    margin-bottom: 9.33vw;
  }
  
  .customer-service-icons img {
    width: 10.26vw;
    margin-left: 0;
    margin-bottom: 3.33vw;
  }
}

/* #Tips
================================================== */
.tips {
  padding: 6.25vw 0 7.5vw 0;
}

.tips .container {
  width: 64%;
}

.tips .heading {
  text-align: center;
  width: 24vw;
  margin: 0 auto;
  margin-bottom: 3.125vw;
}

.tips ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -5.2vw;
}

.tips li {
  flex: 0 0 17.5vw;
  border-top: 1px solid #30384A;
  padding-top: 1vw;
  margin-bottom: 5.2vw;
}

.tips h3 {
  margin-bottom: .25vw;
}

@media (max-width: 1023.98px) {
  .tips {
    padding: 13.33vw 0 24.66vw 0;
  }
  
  .tips .container {
    width: 90%;
  }
  
  .tips .heading {
    text-align: center;
    width: 90%;
    margin-bottom: 9.33vw;
  }
  
  .tips ul {
    display: block;
    margin-bottom: -9.33vw;
  }
  
  .tips li {
    padding-top: 5.33vw;
    margin-bottom: 9.33vw;
  }
  
  .tips h3 {
    margin-bottom: .5vw;
  }
}

/* #Popup
================================================== */
.popup {
  background-color: rgba(0, 0, 0, .44);
}

.popup-content {
  width: 57.3%;
  position: relative;
}

.popup-close {
  position: absolute;
  top: 1.14vw;
  right: 1.14vw;
}

.popup-close img {
  width: .94vw;
}

@media (max-width: 1023.98px) {
  .popup-content {
    width: 90%;
  }
  
  .popup-close {
    top: 2.93vw;
    right: 2.93vw;
  }
  
  .popup-close img {
    width: 4vw;
  }
}

/* #Contact Popup
================================================== */
#contactPopup .popup-content {
  display: flex;
  align-items: center;
}

#contactPopup .img {
  flex: 0 0 16.92vw;
}

#contactPopup .img img {
  height: 26vw;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#contactPopup .text {
  padding: 0 3.125vw;
}

#contactPopup .heading {
  text-align: center;
  margin-bottom: 1.5vw;
}

#contactPopup form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -1.25vw;
}

#contactPopup form>* {
  flex: 0 0 47%;
  margin-bottom: 1.25vw;
}

#contactPopup form>*:last-child {
  flex: 0 0 100%;
}

#contactPopup .contact-form-btn {
  margin-top: 1.5vw;
}

@media (max-width: 1023.98px) {
  #contactPopup .img {
    display: none;
  }
  
  #contactPopup .text {
    padding: 16vw 5.8vw;
  }

  #contactPopup .heading {
    margin-bottom: 6.65vw;
  }

  #contactPopup form {
    margin-bottom: -5.33vw;
  }

  #contactPopup form>* {
    margin-bottom: 5.33vw;
    flex: 0 0 100%;
  }

  #contactPopup form>*:nth-child(5),
  #contactPopup form>*:nth-child(6) {
    flex: 0 0 100%;
  }

  #contactPopup .contact-form-btn {
    margin-top: 8.6vw;
    text-align: center;
  }
}